.modal{
    min-width: 250px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    padding: 15px 20px;
    z-index: 1000;
}
.modal img{
    width: 75px;
    height: 75px;
}
.modal h3{
    text-align: center;
    text-transform: none;
    letter-spacing: 0.5px;
}
.modal .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.button button{
    /* font-family: monospace; */
    /* font-family: "Poppins", sans-serif; */
    font-weight: 500;
    text-transform: uppercase;
    background-color: darkgoldenrod;
    padding: 7.5px 10px;
    border-radius: 2px;
    letter-spacing: 0.5px;
}
.button .delete{
    background-color: crimson;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}